<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>No. Issues</th>
  </tr>

<% @statuses.each do |status| %>
  <tr class = "<%= cycle('line-odd', 'line-even') %>">
    <td><%= link_to status.name, status %></td>
    <td><%=h status.description %></td>
    <td><%=h status.dataset_implementation_issues.count %></td>
    <td><%= link_to 'Edit', edit_status_path(status) %></td>
    <td><%= link_to 'Destroy', status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New status', new_status_path %>