<p>
  
  <b>Name:</b>
  <%=h @status.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @status.description %>
</p>

<p>
  <b>Sort order:</b>
  <%=h @status.sort_order %>
</p>

<fieldset>
  <legend>Issues With This Status:</legend>
  <% if @status.dataset_implementation_issues.count == 0 then %>
    <p>None right now.</p>
  <% else %>
    <table>
      <tr>
        <th>Issue</th>
        <th>Site</th>
        <th>Severity</th>
        <th>Status Date</th>
      </tr>
      <% @status.dataset_implementation_issues.each do |dii| %>
        <tr class = "<%= cycle('line-odd', 'line-even') %>">
          <td><%= link_to dii.title, dii %></td>
          <td><%= link_to dii.dataset_implementation.site.name, dii.dataset_implementation.site %></td>
          <td><%= dii.severity.name if dii.severity %></td>
          <td><%= dii.status_date %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

</fieldset>
<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>