<p>
  <b>Name:</b>
  <%=h @status.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @status.description %>
</p>

<p>
  <b>Sort order:</b>
  <%=h @status.sort_order %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>