  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>

<table id = "dataset-variables">
  <tr>
    <th>Name</th>
    <th>Data Type</th>
    <th>Label</th>
    <th>Position</th>
  </tr>

  <% f.fields_for :dataset_variables do |dv| %> 
    <tr>
    <% dv.fields_for :var_attributes do |v| %>
      <% var = dv.object.variable || Variable.new(:name => "var?") %>
      <td><%= v.text_field :name, :value => var.name %></td>
      <td><%= v.select :datatype, Variable.get_datatypes, {:prompt => 'choose', :selected => var.datatype } %></td>
     <td><%= v.text_field :label, :value => var.label %></td>
    <% end %>
   <td><%= dv.label :position %>  <%= dv.text_field :position %></td>
  <% end %>
  </tr>
</table>
