  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 65, :rows => 4 %>
  </p>

  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>

<h2>Variables</h2>
<table id = "dataset_variables">
  <tr>
    <th>Name</th>
    <th>Data Type</th>
    <th>Label</th>
    <th>Position</th>
    <th>Delete?</th>
  </tr>

  <% f.fields_for :dataset_variables do |dv| %> 
    <%# debug(dv) %>
    <%= render :partial => 'dataset_variable', :object => dv %>
  <% end %>
</table>

<%# link_to_function "New var" do |page|
    page.insert_html :bottom, :dataset_variables, :partial => 'dataset_variable', :object => DatasetVariable.new
  end

 %>
