
<p>
  <b>Name:</b>
  <%=h @dataset.name %>
</p>


<p>
  <b>Description:</b>
  <%=h @dataset.description %>
</p>


<p>
  <b>Version:</b>
  <%=h @dataset.version %>
</p>



<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>