<p>
  <b>Name:</b>
  <%=h @dataset.name %>
</p>


<p>
  <b>Description:</b>
  <%=h @dataset.description %>
</p>


<p>
  <b>Version:</b>
  <%=h @dataset.version %>
</p>

<fieldset> 
  <legend>Variables</legend>
  <% if @dataset.variables.length > 0 then %>
     <table>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Label</th>
      </tr>
      <% @dataset.variables.each do |v| %>
        <tr class="<%= cycle('line-odd', 'line-even') %>">
          <td><%= h v.name %></td>
          <td><%= h v.datatype %></td>
          <td><%= h v.label %></td>
        </tr>
      <% end %>
    </table>  
  <% else %>
    <p>None defined!</p>
  <% end %>
</fieldset>


<fieldset>
  <legend>Implementing Sites</legend>
  <table>
    <tr>
      <th>Site</th>
      <th>Starts</th>
      <th>Updated</th>
      <th>User Notes</th>
    </tr>
    <% @dataset.dataset_implementations.each do |di| %>
      <tr class="<%= cycle('line-odd', 'line-even') %>">
        <td> <%= link_to di.site.abbreviation, di, {:title => di.site.name} %></td>
        <td><%= h di.start_date.to_s(:month_and_year) %></td>
        <td><%= h di.update_frequency %></td>
        <td><%= h di.user_notes %></td>
      </tr>
    <% end %>
  </table>
</fieldset>


<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>