<p>
  <b>Name:</b>
  <%=h @dataset.name %>
</p>


<p>
  <b>Description:</b>
  <%=h @dataset.description %>
</p>


<p>
  <b>Version:</b>
  <%=h @dataset.version %>
</p>

<% if @dataset.variables.length > 0 then %>

<fieldset> 
  <legend>Variables</legend>
   <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Label</th>
    </tr>
    <% @dataset.variables.each do |v| %>
      <tr>
        <td><%= h v.name %></td>
        <td><%= h v.datatype %></td>
        <td><%= h v.label %></td>
      </tr>
    <% end %>
  </table>  
</fieldset>

<% end %>


<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>