<table>
  <tr>
    <th>Site</th>
    <th>Dataset</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Update frequency</th>
    <th>User notes</th>
  </tr>

<% @dataset_implementations.each do |dataset_implementation| %>
  <tr class="<%= cycle('line-odd', 'line-even') %>">
    <td><%=link_to dataset_implementation.site.abbreviation, dataset_implementation.site %></td>
    <td><%=link_to dataset_implementation.dataset.name, dataset_implementation.dataset %></td>
    <td><%=h dataset_implementation.start_date.to_s(:month_and_year) %></td>
    <td><%=h dataset_implementation.end_date.to_s(:month_and_year) %></td>
    <td><%=h dataset_implementation.update_frequency %></td>
    <td><%=h dataset_implementation.user_notes %></td>
    <td><%= link_to 'Details', dataset_implementation %></td>
    <td><%= link_to 'Edit', edit_dataset_implementation_path(dataset_implementation) %></td>
    <td><%= link_to 'Destroy', dataset_implementation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dataset Implementation', new_dataset_implementation_path %>