<% content_for(:head) do %>
  <%= javascript_include_tag "jquery-1.2.1.js" %>
  <% scr = %{
    $(function(){
      $('#key').hide() ;
      $('#showkey').click(function(event) {$('#key').toggle('normal') ; 
      $('#showkey').text($('#showkey').text() == 'Show Key' ? 'Hide key' : 'Show Key') ;
      return false ;} )
  }
    ) ;
  } %>
  <%= content_tag("script", scr) %>
<% end %>

<table id="overview">
  <thead>
  <caption>VDW Implementation Overview and Status</caption>
  <tr>
    <th></th>
    <% @implementing_sites.each do |s| %>
      <th>
        <%= link_to s.abbreviation, s, {:title => s.name} %>
      </th>
    <% end %>
  </tr>  
  </thead>
  <tbody>
    
  <% @datasets.each do |d| %>
    <tr class="<%# cycle('line-odd', 'line-even') %>">
      <th><%= link_to d.name, d, {:title => d.description} %></th>
      <% @implementing_sites.each do |s| %>
        <%= cell_contents(d, s) %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<a id= "showkey" href = "#">Show Key</a>
<table id = "key">
  <caption>Color Key</caption>
  <tr>
    <th>Value</th>
    <th>Intended Meaning</th>
    <th>Operationalized As</th>
  </tr>
  <tr class = 'red-cell'>
    <th>Red Cell</th>
    <td>Not safely useable for substantive research.</td>
    <td>
      One of:
      <ul>
        <li>3 or more outstanding issues, OR</li>
        <li>3 or more caveats of 'serious' severity or higher, OR</li>
        <li>No implementation at all.</li>
      </ul>
    </td>
  </tr>
  <tr class = 'yellow-cell'>
    <th >Yellow Cell</th>
    <td>Generally usable for substantive research, subject to caveats/issues listed</td>
    <td>One of:
      <ul>
        <li>1 or 2 outstanding issues, OR</li>
        <li>1 unassigned outstanding issue, OR</li>
        <li>1 or 2 caveats of 'serious' severity or higher</li>
      </ul>
    </td>
  </tr>
  <tr class = 'green-cell'>
    <th>Green Cell</th>
    <td>No barriers to substantive research use.</td>
    <td>No outstanding issues.</td>
  </tr>
</table>

<h2>Sites With No Recorded Implementations thus far:</h2>
<ul>
  <% @non_implementing_sites.each do |s| %>
    <li><%= link_to s.name, s %></li>
  <% end %>
</ul>