<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Yellow Limit</th>
    <th>Red Limit</th>
    <th>No. Issues</th>
  </tr>

<% @severities.each do |severity| %>
  <tr class = "<%= cycle('line-odd', 'line-even') %>">
    <td><%=link_to severity.name        , severity %></td>
    <td><%=h severity.description %></td>
    <td><%=h severity.yellow_limit %></td>
    <td><%=h severity.red_limit %></td>
    <td><%=h severity.dataset_implementation_issues.count %></td>
    <td><%= link_to 'Edit', edit_severity_path(severity) %></td>
    <td><%= link_to 'Destroy', severity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New severity', new_severity_path %>